.content {
	height:100%;
	background-color: #eae8e7;
	padding-top: 25px;
	padding-bottom: 25px;
}
.content-row {
	height: 100%;
}
.container-fluid {
	height: 100%;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.left-cards {
	height:100%;
	position: relative;
	background-color: #5da4d9;
	height: 100%;
}

.right-cards {
	height: 100%;
	margin-left: 25px;
	position: relative;
}

.profile-img {
	width:100%;
	top: 0%;
	left: 0%;
}
.profile-col {
	padding: 0px;
	position:relative;
}
.profile-description {
	position:absolute;
	color: white;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
  	-ms-transform: translateX(-50%);
}
.profile-name {
	font-size:18px;
}
.profile-title {
	font-size:12px;
}
.bio-row {
	margin-top: 24px;
}
.left-card-p {
	color: white;
	font-family: 'Roboto', sans-serif;
	border-bottom: 1px solid #4783c2;
	padding-bottom: 24px;
}
.left-card-p-borderless {
	color: white;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 24px;
}
.centered-icon {
	text-align: center
}

.right-card-glyphicons {
	color: #767270;
	font-size: 36px;
	padding-top: 10px;
}
.left-card-glyphicons {
	color: white;
	padding-top: 5px;
	font-size: 18px;
}
.right-card {
	padding-top: 24px;
	background-color: white;
}
.right-card-h1 {
	font-family: 'Roboto', sans-serif;
	color: #767270;
	font-size: 36px;
	font-weight: 500;
	margin-bottom: 18px;
}
.right-card-h2 {
	font-family: 'Roboto', sans-serif;
	color: #767270;
	font-size: 16px;
	font-weight: 500;
	margin-top: 24px;
}
.right-card-h3 {
	font-family: 'Roboto', sans-serif;
	color: #5da4d9;
	font-size: 16px;
	font-weight: 300;
	margin-top: 6px;
}
.right-card-p {
	font-family: 'Roboto', sans-serif;
	color: #767270;
	font-size: 14px;
	font-weight: 300;
	margin-top: 6px;
	padding-bottom: 24px;
	border-bottom: 1px solid #bdbdbd;
}
.right-card-p-borderless {
	font-family: 'Roboto', sans-serif;
	color: #767270;
	font-size: 14px;
	font-weight: 300;
	margin-top: 6px;
	padding-bottom: 24px;
}
.education-row {
	margin-top: 24px;
}