html, body {
	height: 100%;
}
.content {
	height:100%;
	background-color: #eae8e7;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;
}
.container-fluid {
	height: 100%;
	background-color: white;
}
.card {
	height:100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-left {
	background-color: #5da4d9;
	height: 100%;
	text-align: center;
}
.profile-img {
	position: relative;
	width:100%;
	top: 50%;
	/* Center profile image */
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	
}